html{
    background-image: linear-gradient(to right, red , yellow);
}
h2{
    text-shadow: 2px 2px 3px rgb(172, 100, 240);

    p{
        font-family: Arial, sans-serif;
        padding: 25px;
        margin: 15px;
    }
}