/* CSS meant for all pages, not including the navigation bar or header elements. */

body {
    font-family: verdana;
    margin: 0px;
    padding: 0px;

.main {
    margin: 0em 5% 0em 5%;
}

.footer {
    margin: 0em 2% 0em 2%;
    border-top: solid 1px #777;
}